@{
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET Async Await Testing</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            <ul>
                <li>
                    <a href="/api/My/GetDeadLock">/api/My/GetDeadLock1</a>
                    <p>Using .Result</p>
                </li>
                <li>
                    <a href="/api/My/GetDeadLock1">/api/My/GetDeadLock1</a>
                    <p>Using .GetAwaiter().GetResult()</p>
                </li>
                <li>
                    <a href="/api/My/GetDeadLock2">/api/My/GetDeadLock2</a>
                    <p>Using .Wait</p>
                </li>
                <li><a href="/api/My/GetSafe">/api/My/GetSafe</a></li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="https://medium.com/rubrikkgroup/understanding-async-avoiding-deadlocks-e41f8f2c6f5d">Learn more &raquo;</a></p>
    </div>
</div>